*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
vpnsdk-android/build/.transforms/2b8f3dbf882ff4ac389710179eb3af0b.bin
vpnsdk-android/build/.transforms/2f8e00c230ecba14e0d9830d93f37e4f.bin
vpnsdk-android/build/.transforms/3a58f1a4bfc288399778f17c8a3f49a0.bin
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14.bin
vpnsdk-android/build/.transforms/462f51f2551d605e481141dc23a2d4b5.bin
vpnsdk-android/build/.transforms/4d38a54921073588166acbfdf4846b33.bin
vpnsdk-android/build/.transforms/5398b0679dd6c106d10022513fb098c9.bin
vpnsdk-android/build/.transforms/64e092d37d75886a0aacb0aa04dca249.bin
vpnsdk-android/build/.transforms/659e7b3f78ab0bc3ce3050356821deb4.bin
vpnsdk-android/build/.transforms/6bd54788af0976d300c0e89cea932199.bin
vpnsdk-android/build/.transforms/7ab23e1c1109d669b40946fd95eef0c3.bin
vpnsdk-android/build/.transforms/a503253aa63ebce5cfda5efd17472eb3.bin
vpnsdk-android/build/.transforms/c304e102c53afe1bfe22d40413f0f9af.bin
vpnsdk-android/build/.transforms/c94dcff9ac8de659f80ef247d3648bda.bin
vpnsdk-android/build/.transforms/d71e83cd9827f85e6833370fd150209b.bin
vpnsdk-android/build/.transforms/de60f0060f8401e1db199ba5ea82eec7.bin
vpnsdk-android/build/.transforms/ee7955ee55a2e1b22d554d3862348eae.bin
vpnsdk-android/build/.transforms/f2c57a48cd2a2feaec3a7f44bf7266de.bin
vpnsdk-android/build/.transforms/2b8f3dbf882ff4ac389710179eb3af0b/jetified-vpnsdk-android-runtime/classes.dex
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/AndroidManifest.xml
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/R.txt
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/aidl/de/blinkt/openvpn/core/ConnectionStatus.aidl
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/aidl/de/blinkt/openvpn/core/LogItem.aidl
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/aidl/de/blinkt/openvpn/core/TrafficHistory.aidl
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/assets/full_licenses.html
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/assets/nopie_openvpn.arm64-v8a
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/assets/nopie_openvpn.armeabi-v7a
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/assets/nopie_openvpn.x86
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/assets/nopie_openvpn.x86_64
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/assets/pie_openvpn.arm64-v8a
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/assets/pie_openvpn.armeabi-v7a
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/assets/pie_openvpn.x86
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/assets/pie_openvpn.x86_64
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/jars/classes.jar
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/jni/arm64-v8a/libjbcrypto.so
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/jni/arm64-v8a/libopenvpn.so
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/jni/arm64-v8a/libopvpnutil.so
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/jni/armeabi-v7a/libjbcrypto.so
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/jni/armeabi-v7a/libopenvpn.so
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/jni/armeabi-v7a/libopvpnutil.so
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/jni/x86/libjbcrypto.so
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/jni/x86/libopenvpn.so
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/jni/x86/libopvpnutil.so
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/jni/x86_64/libjbcrypto.so
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/jni/x86_64/libopenvpn.so
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/jni/x86_64/libopvpnutil.so
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-hdpi-v4/ic_stat_vpn.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-hdpi-v4/ic_stat_vpn_empty_halo.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-hdpi-v4/ic_stat_vpn_offline.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-hdpi-v4/ic_stat_vpn_outline.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-mdpi-v4/ic_stat_vpn.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-mdpi-v4/ic_stat_vpn_empty_halo.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-mdpi-v4/ic_stat_vpn_offline.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-mdpi-v4/ic_stat_vpn_outline.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-xhdpi-v4/ic_stat_vpn.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-xhdpi-v4/ic_stat_vpn_empty_halo.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-xhdpi-v4/ic_stat_vpn_offline.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-xhdpi-v4/ic_stat_vpn_outline.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-xxhdpi-v4/ic_stat_vpn.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-xxhdpi-v4/ic_stat_vpn_empty_halo.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-xxhdpi-v4/ic_stat_vpn_offline.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/drawable-xxhdpi-v4/ic_stat_vpn_outline.png
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/layout/activity_vpn_permission.xml
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/layout/launchvpn.xml
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/values/values.xml
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/values-es/values-es.xml
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/values-pt/values-pt.xml
vpnsdk-android/build/.transforms/41fa147c759713282ad67688deb83b14/jetified-vpnsdk-android/res/values-v21/values-v21.xml
vpnsdk-android/build/.transforms/462f51f2551d605e481141dc23a2d4b5/package-aware-r.txt
vpnsdk-android/build/.transforms/64e092d37d75886a0aacb0aa04dca249/jetified-vpnsdk-android-api.jar
vpnsdk-android/build/.transforms/659e7b3f78ab0bc3ce3050356821deb4/jetified-vpnsdk-android-runtime.jar
vpnsdk-android/build/.transforms/6bd54788af0976d300c0e89cea932199/jetified-vpnsdk-android-runtime/classes.dex
vpnsdk-android/build/.transforms/c304e102c53afe1bfe22d40413f0f9af/jetified-vpnsdk-android-runtime/classes.dex
vpnsdk-android/build/.transforms/de60f0060f8401e1db199ba5ea82eec7/jetified-vpnsdk-android.aar
app/release/app-release.apk
